* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
body {
  font-family: 'Poppins', sans-serif;
}

/**************dark mode start *******************/

.mode {
  float:right;
  display: inline-flex;
  align-items: center;
  padding: 5px 8px;
}

.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}

.dark{
  background-color: #222;
  color: #e6e6e6;
}

/**************dark mode end *******************/

.blockquote {
  box-shadow: 0px 10px 6px rgb(211 211 211 / 50);
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0px;
}

.profile-section {
  box-shadow: 0px 10px 6px rgb(211 211 211 / 50);
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  min-height: 300px
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.icon-link {
  padding: 0px 10px;
  text-decoration: none;
}

.icon-link-github {
  color: black;
}

.icon-link-linkedin {
  color: #0072b1;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
  color: #0072b1;
}

#mainfooter{
  box-shadow:2px 7px 6px rgb(211 211 211 / 50);
  border-radius: 13px;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  background:#564F6E;
}
.footerBlockquote {
    padding: 20px;
    border-radius: 10px;
    margin: 40px 0px;
    background:#564F6E;
  }

#footertext{
    padding:13px;
  }
.profile-skills {
  font-size: 13px;
}

.hacktoberfestText{
 color: black;
 font-size: 100;
 font-weight: bolder;
}

#backToTop {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  border: 1px solid gray; 
  outline: none;
  background-color: #FF9800;
  color: white; 
  cursor: pointer;
  padding: 7px;
  font-size: 25px;
}

#backToTop:hover {
  background-color: #555;
}

@media(max-width: 300px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}
/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  padding-left:30px;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}