body {
  padding: 0;
}

input[ type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  display: block;
  height: 20px;
  width: 40px;
  background: #0a0a0a;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in 0.3s;
  overflow: hidden;
  position: relative;
}

input[type="checkbox"]:checked ~.check {
  background: white;
  box-shadow: 0 0 0 12000px #0a0a0a;
}
.check:before{
  content: '';
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  background: #878686;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before{
  background-color: #01f4fd;
  position: absolute;
  transform: translateX(20px);
}